<div class="jumbotron text-center">
  <h1 class="page-header text-center">Classy-Classifieds!!</h1>
  <a class="btn btn-primary btn-lg" href="/items" role="button">See All Listings</a>
  <a class="btn btn-primary btn-lg" href="/categories" role="button">View by Category</a>
  <a class="btn btn-primary btn-lg" href="/items/new" role="button">Submit a Listing</a>

</div>
