
@import "bootstrap-sprockets";
@import "bootstrap";


.item-info {
  background-color: gray;
  margin-left: 15px;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 5px;
}

body {
  background-color: #539AB2;
}

.container{
  background: white;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 8px;

}
.item-descrip {
  padding-left: 31px;
}
.show-buttons{
  padding-bottom: 15px;
}

#show_page {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 5px;
}

footer{
  margin-top: 30px;
  margin-bottom: 20px;

}
