
@import "bootstrap-sprockets";
@import "bootstrap";


.item-info {
  background-color: gray;
  margin-left: 15px;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 5px;
}

body {
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(top,  #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

.container{
  background: white;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 8px;

}
.item-descrip {
  padding-left: 31px;
}
.show-buttons{
  padding-bottom: 15px;
}

#show_page {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 5px;
}

footer{
  margin-top: 30px;
  margin-bottom: 20px;

}
