
@import "bootstrap-sprockets";
@import "bootstrap";



.item-info {
  background-color: gray;
  margin-left: 15px;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 5px;
}

body {
  background-color: blue;
}

.container{
  background: white;

}

#show_page {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 5px;
}

footer{
  margin-top: 30px;
  margin-bottom: 20px;

}
