<h1>Categories</h1>

  <% @categories.each do |s| %>
  <div class="col-sm-4">
    <h3><%= s.category_name %></h3>
        <% @subbies = Category.where(category_name: s.category_name).order(sub_category: :asc) %>
        <% @subbies.each do |ss| %>
          <%= link_to ss.sub_category, category_path(ss.id) %><br>
        <% end %>
  </div>
  <% end %>
