<h1>New Category Page</h1>


<%= form_for(@category) do |f| %>
  <p>Category: <%= f.text_field(:category_name) %></p>
  <p>Subcategory: <%= f.text_field(:sub_category) %></p>
  <p><%= f.submit('Save') %></p>
<% end %>
