<h1>New Category</h1>
<%= form_for(@category) do |f| %>
  <p><%= f.text_field(:category_name, class: "form-control", :placeholder => "Category", :style => "width:50%") %></p>
  <p><%= f.text_field(:sub_category, class: "form-control", :placeholder => "Subcategory", :style => "width:50%") %></p>
  <p><%= f.submit('Save Category', class: "form-control btn btn-success", :style => "width:25%") %></p>
<% end %>
